body {background-image:
  url("https://ikritixal.github.io/EscapeRoomDesign/Floridatrees.jpg"); background-repeat: no-repeat; 
}

h1, h2, h3 {
  color: white;
  text-shadow: 2px 2px 6px blue
 
}

a{
  color: white;
}